body{
    background: rgb(151, 145, 90);
    color: black;
}


 
.container { 
    display: inline flex;
}
.container img{
    width: 300px;
    margin-right: 20px;
}
.container p{
    width: 300px;

}

.imgComent{
    margin-top: 10px;
    margin-bottom: -12px;
    width: 50px;
}

.textoObra{
    text-align: justify;
    margin: 0 0 0 15px;
}