
    @import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap'); 

* {
    
    margin: 30px;
    padding: 20px;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    align-items: center;
}

.container-h {
    text-align: center;
}
.container . {
    border: 1px solid black;
    width: 100px;
    height: 100px; 
    margin: 0 50px; 
    display: flex;
    align-items: center
}

.container-text
{
    width: ;
    display:inline-block;
    border:2px solid black;
    align-items: center;
   
}
